@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;650;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
:root{
  --white:#fff;
  --black:#000
}
::-webkit-input-placeholder{
  color: #bebebe;
  font-weight: 300;
  font-size: 12px;
}
:-ms-input-placeholder{
  color: #bebebe;
  font-weight: 300;
  font-size: 12px;
}
::placeholder{
  color: #bebebe;
  font-weight: 300;
  font-size: 12px;
}
body{
  font-family: 'Open Sans',sans-serif;
  background: #fafafa;
}
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background:var(--white) ;
  display: flex;
  padding: 0 200px;
  border-bottom: 1px solid #efefef;
  align-items: center;
}
.navbar_first{
  width: 33.33333333333%;
}
.logo{
  margin-top:6px;
}
.logo>img{
  object-fit: cover;
  display: block;
}
.navbar_middle{
  width: 33.33333333333%;
  display: flex;
  justify-content: center;
}
.middle_search{
  position: relative;
}
.search_bar{
  width: 80%;
  background: #fafafa;
  border: 1px solid #d2dbdb;
  padding: 7px 45px;
  border-radius: 3px;
  outline: none;
  height: 30px;
  font-size: 14px;
  font-weight: 400;
}
.searchIcon{
  position: absolute;
  top:8px;
  color:  #d2dbdb;
  left: 30px;
}
.navbar_last{
  width: 33.33333333333%;
  display:flex;
  justify-content: flex-end;
}
.navbar_last>li{
  list-style-type: none;
  display: inline-block;
  margin: 0 10px;
}
.nav_Icons,.navbar_last>li>img{
  font-size: 25px;
  cursor: pointer;
}
.Image_log{
  font-size: 25px;
  cursor: pointer;
  height: 28px;
  width: 28px;
  cursor: pointer;
  border-radius: 14px;
  border: 1px solid red;
  padding: 1px;
}
.model{
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0,0,0,7);
}
.container{
  width: 100%;
  padding:0 200px;
  /* margin-top:20px; */
}
.stories{
  margin-top: 80px;
  display: flex;
  background: var(--white);
  padding: 15px;
  width: 65%;
  border: 1px solid #efefef;
  border-radius: 3px;
  overflow: hidden;
  overflow-x: scroll;
}
.Inst_login{
  display: flex;
  align-items: center;
  text-align: center;
}
.Inst_login>div{
  width: 50%;
  margin: 120px auto;
}
.image1{
  width: 40%;
  height: 400px;
}
.form{
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;

  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form>img{
  align-items: left;
  text-align: left;
}
.stories>div>img{
  width: 70px;
  height: 70px;
  border-radius: 35px;
  border: 2px solid #f83a63;
  margin: 5px 5px 0px 5px;
  padding: 2px;
}
.stories>div>p{
  font-size: 10px;
}
.post_data>div{
  margin-top: 30px;
  width: 65%;
  display: flex;
  flex-direction: column;
  border: 2px solid #efefef;
}
.first_po{
  width: 100%;
  display: flex;
  align-items: center;
  background:var(--white) ;
  padding: 10px;
  border-bottom: #efefef;
}
.first_po>img{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin:5px;
}
.first_po>p{
  margin: 5px;
}
.second_po>img{
  width: 100%;
}
.card {
  width: 230px;
  font-size: 12px;
  margin: 5px;
  background:white;
  border: 2px solid #bebebe;
  border-radius:10px ;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow:  0 0 10px -2px #bebebe;
  
}
.card>li{
  list-style-type: none;
}
.profile_link{
  color: black;
  text-decoration: none;
  font-size: 12px;
  padding: 10px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profile_link>p{
  margin-left: 8px;
}
.profile_link:hover,.logout_line:hover{
  background: #efefef;
}
.icon_data{
  font-size: 20px;
}
.logout_line{
  border-top: 2px solid #efefef;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
}

.card>li:nth-child(1):hover{
  border-top-left-radius:10px ;
  border-top-right-radius:10px ;
}
.card>li:nth-child(5):hover{
  border-bottom-left-radius:10px ;
  border-bottom-right-radius:10px ;
}

.profile_details{
  margin-top: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding-bottom: 50px;
  border-bottom: 2px solid #efefef;
}
.image_pro{
  width: 30%;
}
.image_pro>img{
  width: 150px;
  height: 150px;
  border-radius: 75px;
}
.profile_name{
  display: flex;
  flex-direction: column;
}
.profile_name>div{
  padding: 12px;
  display: flex;
  flex-direction: row;
}
.profile_name>div>p{
  cursor: pointer;
  padding-right: 35px;
  font-size: 14px;
}
.photos_profile{
  display: grid;
  grid-template-columns: repeat(3,33%);
}
.photos_profile>img{
  width: 100%;
  height: 250px;
  padding: 10px;
  cursor: pointer;
}
